.page__hd {
	margin-left: 15px;
}
.page__title {
	margin-top: 10px;
	margin-bottom: 0;
}
.easy-pie-chart {
  position: relative;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.easy-pie-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.easy-pie-chart .percent {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 100px;
  z-index: 2;
  padding-left: 5px;
}
.easy-pie-chart .percent:after {
  content: '';
  margin-left: 0.1em;
  font-size: .8em;
}

.color-very-good {
	color: #5cb85c
}

.color-good {
	color: #5bc0de
}

.color-warn {
	color: #f0ad4e
}

.color-bad {
	color: #d9534f
}
.panel {
	margin-bottom : 0;
}
.panel-body {
	padding: 8px;
}
.panel-heading {
	padding: 5px 15px;
}
.panel-bottom-text {
	margin-bottom: -5px;
    margin-top: -12px;
}
.custom-header {
	line-height: 1.8em;
    padding: 8px 15px 0px 15px;
}
.weui-form-preview__item .subheader-size {
	font-size : 1.4em;
}
.chart-canvas-week {
    text-align: center;
    margin-left: 10px;
}