﻿body,ol,h1,h2,form,pem{ -webkit-text-size-adjust:none; margin: 0 auto; max-width:640px; width:100%; padding: 0; border: none; -webkit-tap-highlight-color:rgba(0,0,0,0); font-size: 14px; color:#333; line-height:28px; font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }
/* header */
div {margin: 0 auto;}

li {list-style-type:none;}
a{text-decoration:none;color:#333333}
.select{padding:2px; width: 105px; padding-right:6px;border:1px solid #d3d3d3}
.select1{padding:2px; width: 70px; padding-right:6px;border:1px solid #d3d3d3}
.select3{padding:2px; width: 180px; padding-right:6px;border:1px solid #FFF}
.select4{padding:2px; width: 90px; padding-right:6px;border:1px solid #FFF}
.select2{width: 50px; border:1px solid #d3d3d3;}
.select5{ border:1px solid #d3d3d3;
    padding:3px; 
	max-width: 100px;
	margin-right:15px;
	font-size:14px;
	width: calc(100% - 2em);}
.option{font-size:16px;line-height:16px;}
.input{padding:3px; font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; width: 105px; border:1px solid #d3d3d3}
.input2 {padding:3px; width: 103px; border:1px solid #d3d3d3}
.input3 {padding:2px; padding-top:4px; width: 166px; border:1px solid #d3d3d3}

input { oulilne:none; }
textarea{resize:none;}

         
select option{
line-height:30px;
height:30px;
margin:15px auto;
}

.nav {
    width: 100%; 
	margin:0 auto; 
	height:100px; 
	background: #FFFFFF ;  
	top:0px;
	border-top:1px solid #fff; 
}
.clearfixe{clear:both;height:1px;}
.bbd { border-bottom:1px solid #DDD; }
.bbd2 {  width: 100%; height:35px;  border-bottom:1px dashed #DDD; float:left; line-height:35px; }
.bbd5 { border-bottom:5px solid #DDD; }
.logo{ width:80px; 
	   margin:10px; 
	   float:left;  
}
.logo img{ width: 100%; float:left; }
.nav-main{ width: 80%;margin-left:20%; margin-top:25px }
.nav-main P{line-height:20px;}
.name { font-size:18px;  }
.shebei {color:#15a5ed }
.title { font-size:16px; line-height:40px; width: 100%; }
.date { font-size:16px; line-height:40px;}
.l10{margin-left:10px }

ul { list-style-type: none;}
.l10 li { display: inline-block;}
.l10 li { margin: 0 auto;margin-left: 5px;}
input.labelauty + label { font: 12px "Microsoft Yahei";}


.l15{margin-left:15px }
.p15{padding-left:10px; }
.shuju { width: 100%; float:left; margin:0 auto }
.dqbb { width: 40%; float:left; margin-left:18%; }
.lybz { width: 100%; float:left; line-height:24px;}
.lybz2 { width: 50%; float:left; line-height:24px;}
.zrbb { width: 50%; float:left;  text-align: center;font-size:16px; }
.dqbbsm{ width: 40%; float:left;margin:0 auto;line-height:16px; font-size:16px;  margin-top:50px; }
.dqbb img{ width: 100%; }
.zrbb img{ width: 100%; }
.dqsm{ font-size:16px; line-height:16px;color: #2ca105;}
.chart{  width: 100%;float:left; }
.dqbbbt { font-size:16px; line-height:28px; padding-left:15px;background-color: #dbedd5;border-bottom:1px solid #DDD;}
.wxts {color:#15a5ed; margin-top:0px; font-size:16px; }
.beizhu {color:#777; width: 50%;  margin-bottom:10px; line-height:12px;  margin-top:0px; text-align: center;}
.ts {min-height:80px;}
.grxx  {height:26px;line-height:26px;}
.juzhong {margin:0 auto }
.frkj {height:40px;margin-bottom:1px; }
.fr{ float:right; font-size:16px; line-height:40px; padding-right:15px; }
.r15{ width: 15%;  float:right; }
.on{ color:#15a5ed }
.day { width: 100%; float:left; border-bottom:1px solid #DDD;margin-bottom:1px;font-size:16px;}
.day1 { width: 49.5%; float:left; border-bottom:1px solid #DDD;border-right:1px solid #DDD;}
.day2 { width: 50%; float:left; border-bottom:1px solid #DDD;}
.day3 { width: 49.5%; float:left; border-right:1px solid #DDD;}
.day4 { width: 50%; float:left; }
.day5 { width: 28%; float:left; }
.day6 { width: 18%; float:left; }
.ys7r { width: 25%; float:left; }
.sb7r { width: 100%; float:left; }
.p115 { padding-left:15px;}
.gaisu { padding-left:15px;color:#777;line-height:14px; line-height:35px;}
.gaisusj { padding-left:15px;color:#000;font-size:30px;}
.tongji{height:50px; width: 100%;}
.left,.right { float:left; display:inline;}
.left{width:15%;min-width:40px;height:50px;text-align: center;}
.leftwx{width:95%;min-width:40px;margin-top:10px;margin-left:5px; margin-right:5px; font-size:16px;line-height:34px;float:left;
  background-color: #F5F5F5;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  }
.leftwx1{width:94%;min-width:40px;margin-top:10px;margin-left:5px; margin-right:10px; font-size:16px;line-height:24px;float:left;
  background-color: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  }
.leftwx2{width:94%;min-width:40px;margin-top:10px;margin-left:0px; margin-right:15px; font-size:14px;line-height:24px;float:left;
  background-color: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  }
.rightwx{width:18%;min-width:40px;margin-right:10px;float:right; }
.rq{font-size:36px; line-height:6px; text-align: center; color:#FF6600}
.rq1{font-size:32px; line-height:6px; text-align: center; color:#777777 }
.xq{font-size:12px; line-height:10px; text-align: center; vertical-align: text-top; color:#FF6600}
.xq1{font-size:12px; line-height:10px; text-align: center; vertical-align: text-top; color:#777777}
.right{height:50px; width:85%; }
.top{height:25px; font-size:16px; line-height:25px; }
.bottom{height:25px; line-height:25px; }
.ID{font-size:42px;  color:#777;  line-height:50px; text-align: center; font-weight:bold}
.off{color:#777;}
.xinxi {  width: 100%; float:left; line-height:18px;min-height:40px;}
.shijian {   width: 100%;  margin-top:0px;  float:left; font-size:14px; line-height:12px; color:#777777}
.chaxun{
margin-top:5px;
margin-right:15px;
float: right;
height: 30px;
width: 90px;
font-size:16px;
background: #fafafa;
position:relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #DDD;
}
.xiugai{
text-align: center;
margin:20px 0px ;
height: 30px;
width: 90px;
font-size:16px;
background: #fafafa;
position:relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #DDD;
}
.jl{ width: 30%; float:left; line-height:40px;}
.jlr{ width: 30%; float:right; line-height:40px;text-align: center;}
.gray  {color:#777777;}
.red {color:#ff0000;}
.green {color:#006000;}
.liuyan{font-size:14px;height:20px;line-height:20px;margin:8px auto;margin-right:15px;float: right;border:1px solid #DDD;padding:2px 10px;

background: #fafafa;
position:relative;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #DDD;
  }
  
.rliuyan{font-size:14px;height:30px;line-height:30px;margin-right:16px;float: right; color:#FFF; }
  
.curr{font-size:14px;height:30px;line-height:28px;margin-top:5px;margin-right:15px;float: right;}
.shuoming{font-size:14px;height:28px;line-height:28px;margin-top:5px;margin-right:15px;float: right;}






.jquery-lightbox-overlay {
	BACKGROUND: #000000
}
.jquery-lightbox {
	POSITION: relative; PADDING-BOTTOM: 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 17px
}
.jquery-lightbox-border-top-middle {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 250px;  OVERFLOW: hidden; TOP: 0px; LEFT: 12%
}
.jquery-lightbox-border-bottom-middle {
	Z-INDEX: 7000; POSITION: absolute; WIDTH: 250px; BOTTOM: 0px; OVERFLOW: hidden; LEFT: 12%
}
.jquery-lightbox-title {
	Z-INDEX: 7000; POSITION: absolute; PADDING-BOTTOM: 5px; LINE-HEIGHT: 14px; MARGIN: 3px; PADDING-LEFT: 8px; BOTTOM: 0px; PADDING-RIGHT: 8px; FONT-FAMILY: verdana, arial, serif; COLOR: #ffffff; FONT-SIZE: 11px; PADDING-TOP: 5px; opacity: 0.9
}
.jquery-lightbox-html {
	Z-INDEX: 7000; BORDER-BOTTOM: 0px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: top; BORDER-TOP: 0px; PADDING-TOP: 0px; WIDTH: 250px;
}
.jquery-lightbox-html EMBED {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-html OBJECT {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-html IFRAME {
	VERTICAL-ALIGN: top
}
.jquery-lightbox-background {
	Z-INDEX: 6999; POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; TOP: 7px; PADDING-TOP: 0px; LEFT: 7px
}
.jquery-lightbox-background IMG {
	BORDER-BOTTOM: 0px; POSITION: relative; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.jquery-lightbox-mode-image .jquery-lightbox-html {
	Z-INDEX: 6998; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.jquery-lightbox-mode-html .jquery-lightbox-background {
	BACKGROUND: #ffffff; 
}
.jquery-lightbox-mode-html .jquery-lightbox-html {
	OVERFLOW: auto
}
.jquery-lightbox-loading {
	BACKGROUND: url(images/loading.gif) #ffffff no-repeat center center
}
.jquery-lightbox-mode-html .jquery-lightbox-loading {
	BACKGROUND: url(images/loading.gif) #ffffff no-repeat center center
}
.jquery-lightbox-button-close {
	POSITION: absolute; WIDTH: 29px; BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -190px -115px; HEIGHT: 29px; TOP: 12px; RIGHT: -26px
}
.jquery-lightbox-button-close:hover {
	BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -220px -115px
}
.jquery-lightbox-button-close SPAN {
	DISPLAY: none
}
.jquery-lightbox-buttons SPAN {
	DISPLAY: none
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	Z-INDEX: 7002; RIGHT: 14px
}
.jquery-lightbox-buttons {
	Z-INDEX: 7001; POSITION: absolute; DISPLAY: none; HEIGHT: 39px; TOP: 7px; LEFT: 7px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
	WIDTH: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	WIDTH: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
	MARGIN: 7px 0px 0px 7px; BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -151px -153px
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	MARGIN: 7px 0px 0px; BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -244px -153px
}
.jquery-lightbox-buttons .jquery-lightbox-button-max {
	MARGIN: 7px 0px 0px; WIDTH: 36px; DISPLAY: inline; BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -182px -153px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-max:hover {
	BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -182px -194px
}
.jquery-lightbox-buttons .jquery-lightbox-button-min {
	MARGIN: 7px 0px 0px; WIDTH: 36px; DISPLAY: inline; BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -162px -235px; FLOAT: left; HEIGHT: 39px
}
.jquery-lightbox-buttons .jquery-lightbox-button-min:hover {
	BACKGROUND: url(images/jquery-lightbox-theme.png) no-repeat -207px -235px
}

.jquery-lightbox-buttons-custom A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline; COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: normal; TEXT-DECORATION: underline; PADDING-TOP: 0px
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	opacity: 0.7
}
.jquery-lightbox-mode-image .jquery-lightbox-buttons {
	opacity: 0.3
}
.jquery-lightbox-mode-image:hover .jquery-lightbox-buttons {
	opacity: 0.9
}
.jquery-lightbox-mode-image:hover .jquery-lightbox-button-close {
	opacity: 0.9
}
.jquery-lightbox-navigator {
	DISPLAY: none
}




#rightButton{ position:fixed; _position:absolute; bottom:0; right:10px; z-index:999999; display:block;}
#right_ul{ position:relative;}
#right_liuyan{  width:40px; height:40px;  z-index:999999;}
#right_tip{  background:url(images/flag_right.png) no-repeat; width:105px; height:30px; position:absolute; bottom:30; right:50px; z-index:999999; }


















input1{font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;font-size:100%;margin:0;}
button,input1{line-height:normal;}
button,select{text-transform:none;}
button,html input1[type="button"],input1[type="reset"],input1[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input1[disabled]{cursor:default;}
input1[type="checkbox"],input1[type="radio"]{box-sizing:border-box;padding:0;}
input1[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input1[type="search"]::-webkit-search-cancel-button,input1[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input1::-moz-focus-inner{border:0;padding:0;}




.input1 {
	border:1px solid #ddd;
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 225px;
	float:right;
	margin-right:15px;
	font-size:14px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 5px;
	font-size:14px;
	width: 60%;
	/* border: none; */
	border:1px solid #ddd;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-size: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}



/* Minoru */
.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 1px transparent;
	color: #333;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.input__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;

	box-shadow: 0px 0px 0px 0px;
	color: #ddd;
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 1px #ddd;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 0.75em 0.15em;
}










/* Prevent text and blocks selection */
input.labelauty + label ::selection { background-color: rgba(255, 255, 255, 0); }
input.labelauty + label ::-moz-selection { background-color: rgba(255, 255, 255, 0); }

/* Hide original checkboxes. They are ugly! */
input.labelauty { display: none !important; }

/*
 * Let's style the input
 * Feel free to work with it as you wish!
 */
input.labelauty + label
{
	display: table;
	font-size: 11px;
	padding: 10px;
	background-color: #efefef;
	color: #333;
	cursor: pointer;

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;


	transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;

	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

/* Stylish text inside label */

input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked
{
	display: inline-block;
	line-height: 16px;
	vertical-align: bottom;
}

/* Stylish icons inside label */

input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image
{
	display: inline-block;
	height: 16px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-position: left center;

	transition: background-image 0.5s linear;
	-moz-transition: background-image 0.5s linear;
	-webkit-transition: background-image 0.5s linear;
	-o-transition: background-image 0.5s linear;
}

/* When there's a label, add a little margin to the left */
input.labelauty + label > span.labelauty-unchecked-image + span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked-image + span.labelauty-checked
{
	margin-left: 5px;	margin-right: 5px;
}

/* When not Checked */
input.labelauty:not(:checked):not([disabled]) + label:hover
{
	background-color: #eaeaea;
	color: #a7a7a7;
}
input.labelauty:not(:checked) + label > span.labelauty-checked-image
{
	display: none;
}

input.labelauty:not(:checked) + label > span.labelauty-checked
{
	display: none;
}

/* When Checked */
input.labelauty:checked + label
{
	background-color: #3498db;
	color: #ffffff;
}

input.labelauty:checked:not([disabled]) + label:hover
{
	background-color: #72c5fd;
}
input.labelauty:checked + label > span.labelauty-unchecked-image
{
	display: none;
}

input.labelauty:checked + label > span.labelauty-unchecked
{
	display: none;
}

input.labelauty:checked + label > span.labelauty-checked
{
	display: inline-block;
}

input.labelauty.no-label:checked + label > span.labelauty-checked
{
	display: block;
}

/* When Disabled */
input.labelauty[disabled] + label
{
	opacity: 0.5;
}

/* Add a background to (un)checked images */
input.labelauty + label > span.labelauty-unchecked-image
{
	background-image: url( ../images/input-unchecked.png );
}

input.labelauty + label > span.labelauty-checked-image
{
	background-image: url( ../images/input-checked.png );
}














