/*MS 2018.6.10 */
/*QQ:24231001 MAIL:24231001@QQ.COM*/


/*---------------重置BS BUTTON INPUT focus 样式--------------- */

.shadow-xs{box-shadow: 1px 1px 10px #eee;}
.card-header{padding:0 10px; margin:0px; height:35px; line-height:35px;}
hr{margin: 10px 0;}



/*---------------重置 全局样式 样式--------------- */

body{margin: 0px; padding: 0px; font-size: 12px; font-family:Microsoft YaHei,"微软雅黑",'Microsoft Yahei','PingFang SC',"Helvetica Neue", Helvetica, Tahoma, Arial,'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;background: #fff;font-weight: normal !important;}
ul,li,p{list-style: none; margin: 0px; padding: 0px;}

::-webkit-scrollbar{width:5px; height:5px;}
::-webkit-scrollbar-track {background-color:#fff;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;}
::-webkit-scrollbar-thumb {background-color:#ccc;-webkit-border-radius:2em;-moz-border-radius:2em;border-radius:2em;}

/*字体通用*/

.f-30{font-size: 30px;}
.f-28{font-size: 28px;}
.f-26{font-size: 24px;}
.f-24{font-size: 24px;}
.f-22{font-size: 22px;}
.f-20{font-size: 20px;}
.f-18{font-size: 18px;}
.f-16{font-size: 16px;}
.f-14{font-size: 14px;}
.f-12{font-size: 12px;}
.f-11{font-size: 11px;}
a.f-30{font-size: 30px;}
a.f-28{font-size: 28px;}
a.f-26{font-size: 24px;}
a.f-24{font-size: 24px;}
a.f-22{font-size: 22px;}
a.f-20{font-size: 20px;}
a.f-18{font-size: 18px;}
a.f-16{font-size: 16px;}
a.f-14{font-size: 14px;}
a.f-12{font-size: 12px;}


/*行高*/
.lh20{line-height: 20px;}
.lh25{line-height: 25px;}
.lh30{line-height: 30px;}
.lh35{line-height: 35px;}
.lh40{line-height: 40px;}


a{font-size: 14px; text-decoration:none; color:#333;}
a:hover{text-decoration:none; color: #f00; transition: .5s all ease; opacity: .8;}
a img:hover{opacity: .8;}


/*遮罩背景*/
.mark-box{background:rgba(0,0,0,.8);position: fixed; left:0px; top:0px; bottom:0px; right:0px; z-index:100000; display:flex;}
.mark_s{position: fixed; left: 0px; right: 0px; z-index:100000;padding-top: 165px;}


input{font-size: 12px;}

/**/

.form_box{height: calc(100vh - 44px); overflow-y: auto;}

	.form_groupInfo{display:block; margin:0 15px;font-size: 12px}
	.form_groupInfo li{display: flex;  justify-content: space-between; border-bottom: 1px #e6e6e6 solid; height: 44px; line-height: 44px;}
	.form_groupInfo li.no{border: none;}
	.form_groupInfo li.textarea{display: block; height: auto; padding: auto; border: 0px;}

	.form_groupInfo .form_title{}
	.form_groupInfo .form_title span{color: #f00;}
	.form_groupInfo .form_title span.tips{display: inline-block; background: url(../../images/person/ico_tips.png) no-repeat left center; background-size: 10px auto; width: 20px; height: 20px;}

	.form_groupInfo .form_input{flex:1;}
	.form_groupInfo input[type=text]{width: 100%; border: 0px; text-align: right;outline: none;}
	.form_groupInfo input[type=number]{width: 100%; border: 0px; text-align: right;outline: none;}
	.form_groupInfo input[type=radio]{vertical-align: middle;margin: 0px; padding: 0px;}

	.form_groupInfo .form_arr{flex:1;}
	.form_groupInfo .form_arr input{background: url(../../images/person/ico_arr.png)no-repeat right center; background-size: 10px auto; padding-right: 20px; box-sizing: border-box;}

	.form_groupInfo .form_yzm{display: flex; justify-content: space-between; flex: 1;}
	.form_groupInfo .form_yzm a{background: #42a338; display: inline-block; width: 120px; color: #fff; height: 28px; line-height: 28px;font-size: 12px; align-self: center; text-align: center; border-radius: 4px;}
	.form_groupInfo .form_yzm input{padding-right: 20px; box-sizing: border-box;}
	.form_groupInfo .form_yzm a.on{background: #a3a3a3;}

	.form_groupInfo .form_textarea{display: block; width: 100%;}
	.form_groupInfo .form_textarea textarea{border: 1px #e6e6e6 solid;width: 100%; height: 100px; font-size: 12px;}

	.form_groupInfo .form_radio span{vertical-align: middle; padding-left: 3px; color: #666;}

	.form_groupInfo .form_active{flex: 1; text-align: right; line-height: 44px; height: 44px;background: url(../../images/person/ico_arr.png)no-repeat right center; background-size: 10px auto; padding-right: 20px; box-sizing: border-box;}
	.form_groupInfo .form_active span{color: #777;}

	.tips{display: block; color: #fb4b4e; text-align: center;}
	.tips span{display:inline-block; background: url(../../images/person/ico_tip.png) no-repeat left center; padding-left: 20px; background-size: 15px auto; height: 40px; line-height: 40px;}

	.line{background: #f2f2f2; height: 10px; position:relative;}
	.line .tips{position: absolute; top: -15px; left: 0px; right: 0px;}


	.footer_btn{background: #42a338; height: 44px; line-height: 44px;}
	.footer_btn button{width: 100%; height:44px; background: #42a338; text-align: center; color: #fff; border: 0px;-webkit-appearance:none;}
	.footer_btn a{text-align: center;color: #fff; display: block;}


	.user_box{background:url(../../images/person/bg_user.png) no-repeat top center; background-size:cover; height:100px; display:flex; justify-content:space-between; padding:20px; box-sizing:border-box;}
	.user_box .user_name p:first-child{font-size:14px; padding-bottom:10px;}
	.user_box .user_name p.nv{font-size:12px; color:#ff0078;}
	.user_box .user_name p.nan{font-size:12px; color:#2ea7f6;}
	.user_box .user_name p:last-child img{width:15px; height:15px; vertical-align:middle; border-radius:2px;}
	
	.user_edit{background:url(../../images/person/ico_arrs.png) no-repeat right 2px; background-size:7px auto;}
	.user_edit span{padding-right:14px; color:#2ea7f6;}
	.user_edit a{font-size:12px;}
	
	.user_list{display:block; padding:10px 15px; box-sizing:border-box;}
	.user_list li{display:flex; justify-content:space-between; padding:5px 0;}
	.user_list .title{ color:#666;}
	.user_list .detai{flex:1; text-align:left;}
	.user_list .detai select{width:100%; border:0px;font-size:12px;}

	.edits{display:block; padding:0 15px;}
	.edits a{color:#2ea7f6;font-size:12px; padding:10px 0; display:block;}

















