<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0">
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/angular.easypiechart.min.js"></script>
<script src="../scripts/common/common.js?v=2017090423"></script>
<script src="../scripts/controller/myrecord.js?v=2017090423"></script>
<title>氧疗设备当前数据</title>
<link rel="stylesheet" media="screen" href="../css/style.css?v=2017080922" />
<link href="../css/index.css?v=2017080722" rel="stylesheet">
<script>
		window.onload=function(){
			clock();
			//setInterval("clock()",1000);// not use interval in mobile client side
		}
		function zero(num){
			return num>9?num:"0"+num;
		}
		function clock(){
			var oBox=document.getElementById("date");
			var oDate=new Date();
			var oYear=oDate.getFullYear();
			var oMonth=oDate.getMonth()+1;
			var oDay=oDate.getDate();
			var oHours=oDate.getHours();
			var oMinute=oDate.getMinutes();
			var oSeconds=oDate.getSeconds();
			var timeValue="当前时间："+oYear+"-"+zero(oMonth)+"-"+zero(oDay)+" "+zero(oHours)+":"+zero(oMinute)+":"+zero(oSeconds);
			oBox.innerHTML=timeValue;
		}
</script>
</head>
<body ng-app="myApp" ng-controller="siteCtrl" ng-cloak>
	<div class="nav bbd">
	    <li class="logo"><img src="../images/logo.png" /></li>	
		<li class="nav-main">       
		<P class="name">姓名：{{basic.fullName}}</P>
		<P>设备号：<span class="shebei">{{basic.deviceNumber}}</span></P>
	    </li>
	</div>
	
	<div class="title bbd">
	<span class="date l15" id="date"></span>
	</div>
	
	
	
	<div class="shuju bbd">
	<li class="dqbbbt">当前氧浓度</li>
	<li class="dqbb">
		<div style="padding-left : 1%; text-align: center" ng-if="oxygenChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgOxygen}} %</span>
				<div easypiechart options="oxygenChart.options_oxygen" percent="oxygenChart.percent_oxygen"></div>
			</div>
		</div>
	</li>
	<li  class="dqbbsm">{{oxygenChart.text_oxygen}}</li >
	</div>
	
	
	<div class="shuju bbd">
	<li class="dqbbbt">当前氧流量</li>
	<li class="dqbb">
		<div style="padding-left : 5%; text-align: center" ng-if="flowChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgFlow}} L/分</span>
				<div easypiechart options="flowChart.options_flow" percent="flowChart.percent_flow"></div>
			</div>
		</div>
	</li>
	<li  class="dqbbsm">{{flowChart.text_flow}}</li >
	</div>
	
	
	
	
	<div class="shuju bbd">
	<li class="dqbbbt">当前氧温度</li>
	<li class="dqbb">
		<div style="padding-left : 10%; text-align: center" ng-if="tempChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgTemp}} ℃</span>
				<div easypiechart options="tempChart.options_temp" percent="tempChart.percent_temp"></div>
			</div>
		</div>
	</li>
	<li  class="dqbbsm">{{tempChart.text_temp}}</li >
	</div>
</body>
</html>