<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/angular.easypiechart.min.js"></script>
<script src="../scripts/common/common.js?v=2017083022"></script>
<script src="../scripts/Chart.min.js"></script>
<script src="../scripts/controller/myrecord.js?v=2017050103"></script>
<link href="../css/wechat/weui.min.css" rel="stylesheet" type="text/css" />
<link href="../bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
</head>
<body>

	<div class="page" ng-app="myApp" ng-controller="siteCtrl">
		<div class="page__hd">
			<h3 class="page__title">呼吸机结果数据</h3>
			<p class="page__desc">{{deviceData.recordDateStr}}</p>
		</div>
		<div class="page__bd">
			<div class="weui-form-preview">
				<div class="weui-form-preview__hd custom-header">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">设备编号</label> <em
							class="weui-form-preview__value subheader-size">{{deviceData.deviceNumber}}</em>
					</div>
				</div>
				<div class="panel panel-success" ng-show="!deviceData.todayFlag">
					<div class="panel-heading">
						<h3 class="panel-title">{{deviceData.todayFlag? '当前':''}}总使用时间</h3>
					</div>
					<div class="panel-body">
						<div class="row" style="text-align: center" ng-if="totalTimeChartReady">
							<div class="easy-pie-chart">
								<span class="percent">{{deviceData.totalTime}} 小时</span>
								<div easypiechart options="totalTimeChart.options_totalTime" percent="totalTimeChart.percent_totalTime"></div>
							</div>
							<p class="panel-bottom-text">{{totalTimeChart.text_totalTime}}</p>
						</div>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">{{deviceData.todayFlag? '当前':'平均'}}氧浓度</h3>
					</div>
					<div class="panel-body">
						<div class="row" style="text-align: center" ng-if="oxygenChartReady">
							<div class="easy-pie-chart">
								<span class="percent">{{deviceData.avgOxygen}} %</span>
								<div easypiechart options="oxygenChart.options_oxygen" percent="oxygenChart.percent_oxygen"></div>
							</div>
							<p class="panel-bottom-text">{{oxygenChart.text_oxygen}}</p>
						</div>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">{{deviceData.todayFlag? '当前':'平均'}}氧流量</h3>
					</div>
					<div class="panel-body">
						<div class="row" style="text-align: center" ng-if="flowChartReady">
							<div class="easy-pie-chart">
								<span class="percent">{{deviceData.avgFlow}} L/分钟</span>
								<div easypiechart options="flowChart.options_flow" percent="flowChart.percent_flow"></div>
							</div>
							<p class="panel-bottom-text">{{flowChart.text_flow}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>