<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/common/common.js?v=2017083022"></script>
<script src="../scripts/controller/mydevice.js?v=2017082101"></script>
<link href="../css/wechat/weui.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="myApp" ng-controller="deviceCtrl">
	<div class="page" ng-show="bindDevice">
		<div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" ng-model="deviceNumber" type="text" placeholder="请输入设备编号"/>
                </div>
            </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ng-click="bindUserDevice()">绑定设备</a>
        </div>
	</div>
	
	<div class="page" ng-show="deviceDetail">
		<div class="page__hd">
			<h1 class="page__title">我的设备</h1>
		</div>
		<div class="page__bd">
			<div class="weui-form-preview">
				<div class="weui-form-preview__hd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">设备编号</label> <em
							class="weui-form-preview__value">{{device.deviceNumber}}</em>
					</div>
				</div>
				<div class="weui-form-preview__hd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">连接状态</label> <em
							class="weui-form-preview__value">正常</em>
					</div>
				</div>
				<div class="weui-form-preview__bd">
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">硬件版本</label> <span
							class="weui-form-preview__value">{{device.hardware}}</span>
					</div>
					<div class="weui-form-preview__item">
						<label class="weui-form-preview__label">软件版本</label> <span
							class="weui-form-preview__value">{{device.software}}</span>
					</div>
				</div>
			</div>
		</div>
		<a class="weui-btn weui-btn_plain-primary" ng-click="unbindUserDevice(device.id)">解除绑定</a>
	</div>
</body>
</html>