<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>健康资料</title>
    <link rel="stylesheet" media="screen" href="../css/style.css?v=2017080922" />

	<script src="../scripts/jquery-1.12.3.min.js"></script>
	<script src="../scripts/jquery-labelauty.js"></script>
 	<script>
	 	$(document).ready(function(){
	 		$(":input").labelauty();
	 	});
	</script>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/checklist-model.js"></script>
	<script src="../scripts/common/common.js?v=2017083022"></script>
	<script src="../scripts/controller/myinfo.js?v=2017080822"></script>
	<style type="text/css">
	  .myForm input.ng-invalid.ng-touched {
	    background-color: #FA787E;
	  }
	  .myForm .noInputDate:before {
	    color: darkgray;
		content: attr(placeholder)
	  }
	  .myForm .noInputDate:focus::before {
	    content: "" !important;
	  }
	  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: darkgray;
	  }
		input:-moz-placeholder, textarea:-moz-placeholder {
			color: darkgray;
		}
		input:-ms-input-placeholder, textarea:-ms-input-placeholder {
			color: darkgray;
		}
	</style>
</head>
<body ng-app="myApp" ng-controller="myInfoCtrl"  ng-cloak>
<div class="nav bbd">
    <li class="logo"><img src="../images/logo.png" /></li>
	<li class="nav-main">
	<P class="name">{{patient.fullName}}</P>
    </li>
</div>


<form name="myForm" class="myForm">
<div class="xinxi">
<p class="grxx l15">
姓名：<input class="input1 input__field input__field--minoru" type="text" id="input-1" ng-model="patient.fullName" maxlength="20" required placeholder="请输入姓名"></input>
</p>

<p class="grxx l15">
手机：<input class="input1 input__field input__field--minoru" type="number" id="input-2" ng-model="patient.mobilePhone" minlength="11" maxlength="11" required placeholder="请输入手机号码">
</p>


<p class="grxx l15">
住址：<input class="input1 input__field input__field--minoru" type="text" id="input-8" ng-model="patient.contactAddress" maxlength="50" placeholder="请输入住址"/>
</p>


<p class="grxx l15">
出生日期：<input class="input1 input__field input__field--minoru" type="date" id="input-5" ng-model="birthDate" placeholder="请输入出生日期" ng-class="birthDate ? '' : 'noInputDate'"/>
</p>


<p class="grxx l15">
身高（cm）：<input class="input1 input__field input__field--minoru" type="number" id="input-6" ng-model="patient.height" min="1" max="300" placeholder="请输入身高"/>
</p>


<p class="grxx l15">
体重（KG）：<input class="input1 input__field input__field--minoru" type="number" id="input-7" ng-model="patient.weight" min="1" max="300" placeholder="请输入体重"/>
</p>


<p class="grxx l15">
性别：

<div class="l10">
	<li><input type="radio" name="radio" data-labelauty="男" ng-model="patient.sex" value="1" ng-click="patient.syzk=[]"></li>
	<li><input type="radio" name="radio" data-labelauty="女" ng-model="patient.sex" value="2"></li>
</div>


</p>







<p class="grxx l15">
婚姻状况：

<div class="l10">
	<li ng-repeat="item in hyzk"><input type="radio" id="labelauty-hyzk-{{item.key}}" name="radio1" ng-model="patient.hyzk" value="{{item.key}}" data-labelauty="{{item.value}}"></li>
</div>


</p>

<p class="grxx l15">
生育情况：{{patient.sex == 1 ? '(仅女性填写)' : ''}}
<div class="l10">
	<li ng-repeat="item in syzk"><input ng-disabled="patient.sex == 1" type="radio" id="labelauty-syzk-{{item.key}}" name="radio2" ng-model="patient.syzk" value="{{item.key}}" data-labelauty="{{item.value}}"></li>
</div>
</p>

<p class="grxx l15">
手术或外伤：


<div class="l10">
	<li ng-repeat="item in sshzws"><input ng-disabled="isItemNotClickAble(patient.sshzwsList, item.key)" ng-click="clickOnCheckBoxInput(patient.sshzwsList, this.checked, item.key)" type="checkbox" id="labelauty-sshzws-{{item.key}}" name="checkbox" checklist-model="patient.sshzwsList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox" maxlength="100" ng-model="patient.sshzwsQt" class="leftwx2 r15" cols="50" rows="2" id="con"  placeholder="可输入补充您的手术或外伤情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>


<p class="grxx l15">
家族病史：


<div class="l10">
	<li ng-repeat="item in jzbs"><input ng-disabled="isItemNotClickAble(patient.jzbsList, item.key)" ng-click="clickOnCheckBoxInput(patient.jzbsList, this.checked, item.key)" type="checkbox" id="labelauty-jzbs-{{item.key}}" name="checkbox1" checklist-model="patient.jzbsList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox1" maxlength="100" ng-model="patient.jzbsQt" class="leftwx2 r15" cols="50" rows="2" id="con"  placeholder="可输入补充您的家族病史情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>


<p class="grxx l15">
药物病史：


<div class="l10">
	<li ng-repeat="item in ywbs"><input ng-disabled="isItemNotClickAble(patient.ywbsList, item.key)" ng-click="clickOnCheckBoxInput(patient.ywbsList, this.checked, item.key)" type="checkbox" id="labelauty-ywbs-{{item.key}}" name="checkbox2" checklist-model="patient.ywbsList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox2" maxlength="100" ng-model="patient.ywbsQt" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="可输入补充您的药物过敏情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>


<p class="grxx l15">
食物或接触物过敏：


<div class="l10">
	<li ng-repeat="item in swhzjcwgm"><input ng-disabled="isItemNotClickAble(patient.swhzjcwgmList, item.key)" ng-click="clickOnCheckBoxInput(patient.swhzjcwgmList, this.checked, item.key)" type="checkbox" id="labelauty-swhzjcwgm-{{item.key}}" name="checkbox3" checklist-model="patient.swhzjcwgmList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox3" maxlength="100" ng-model="patient.swhzjcwgmQt" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="可输入补充您的食物或接触物过敏情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>


<p class="grxx l15">
个人习惯：


<div class="l10">
	<li ng-repeat="item in grxg"><input ng-disabled="isItemNotClickAble(patient.grxgList, item.key)" ng-click="clickOnCheckBoxInput(patient.grxgList, this.checked, item.key)" type="checkbox" id="labelauty-grxg-{{item.key}}" name="checkbox4" checklist-model="patient.grxgList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox4" maxlength="100" ng-model="patient.grxgQt" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="可输入补充您的个人习惯情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>


<p class="grxx l15">
既往疾病及症状：


<div class="l10">
	<li ng-repeat="item in jwjbzz"><input ng-disabled="isItemNotClickAble(patient.jwjbzzList, item.key)" ng-click="clickOnCheckBoxInput(patient.jwjbzzList, this.checked, item.key)" type="checkbox" id="labelauty-jwjbzz-{{item.key}}" name="checkbox5" checklist-model="patient.jwjbzzList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox5" maxlength="100" ng-model="patient.jwjbzzQt" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="可输入补充您的既往疾病及症状情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>



<p class="grxx l15">
长期或最近使用药物类别：

<div class="l10">
	<li ng-repeat="item in cqhzzjyw"><input ng-disabled="isItemNotClickAble(patient.cqhzzjywList, item.key)" ng-click="clickOnCheckBoxInput(patient.cqhzzjywList, this.checked, item.key)" type="checkbox" id="labelauty-cqhzzjyw-{{item.key}}" name="checkbox6" checklist-model="patient.cqhzzjywList" checklist-value="item.key" data-labelauty="{{item.value}}"></li>
	<textarea name="checkbox6" maxlength="100" ng-model="patient.cqhzzjywQt" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="可输入补充您的长期或最近使用药物情况"></textarea>
</div>


</p>

<div class="clearfixe "></div>




<p class="grxx l15">
补充说明：<BR>
	<textarea name="moreinfo" maxlength="100" ng-model="patient.others" class="leftwx2 r15" cols="50" rows="2" id="con" placeholder="若有，可输入补充您的其他健康信息"></textarea>
</p>




<div align="center">
<a href="#"><input type="submit" value="提交更改" id="domaincheck" class="xiugai" ng-click="submitForm()"></a></span>
</div>


</div>
</form>

</body>
</html>
