<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<script src="../scripts/angular.min.js"></script>
<script src="../scripts/common/common.js?v=2017083022"></script>
<script src="../scripts/controller/myqrcode.js?v=2017082122"></script>
<link href="../css/wechat/weui.min.css" rel="stylesheet" type="text/css" />
</head>
<body ng-app="myApp" ng-controller="myqrCodeController" ng-cloak>
	<div class="page__bd">
        <div class="weui-cells__title">我的专属二维码</div>
        <div class="weui-cells" ng-show="myQrcodeUrl.length > 0">
            <img style="width:300px; height:300px" ng-src="{{myQrcodeUrl}}"/>
        </div>
        
        <!-- <div class="weui-cells__title" ng-show="myUsers && myUsers.length > 0">
        	<div class="weui-cell__bd">
                 <span style="vertical-align: middle">我的关注人数</span>
                 <span class="weui-badge" style="margin-left: 5px; background: #5cb85c">{{myUsers.length}}</span>
             </div>
        </div>
        <div class="weui-cells" ng-show="myUsers && myUsers.length > 0">
            <div class="weui-cell" ng-repeat="user in myUsers">
                <div class="weui-cell__bd">
                    <p>{{user.nickName}}</p>
                </div>
                <div class="weui-cell__ft"></div>
            </div>
        </div> -->
      </div>
</body>
</html>