<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes" >

<link rel="stylesheet" href="../css/style/style.css">

<!--弹出select-->
<!--<link rel="stylesheet" href="../css/style/mobileSelect.css">-->
<!--<script src="../scripts/js/mobileSelect.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="../css/style/stylesheet.css" media="screen">-->

	<script src="../scripts/js/picker.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/checklist-model.js"></script>
    <script src="../scripts/common/common.js?v=2017083022"></script>
    <script src="../scripts/controller/personInfo.js?v=2018100822"></script>

<title>个人信息</title>
</head>

<body >

<div ng-app="myApp" ng-controller="personInfoCtrl" ng-cloak>

	<div ng-show="hasMustData && !writeNonCompulsory">
		<div class="user_box">

			<div class="user_name">
				<p style="font-size: 20px;font-weight: 600">{{userInfo.patientInfo.patientName}}
					<span ng-click="reqUserList()" style="background: #2ea7f6;font-size: 12px;border-radius: 5px;color: #fff;font-weight: 500;padding: 0 10px;line-height: 18px;height: 18px;display: inline-block">切换</span>
				<ul class="choiceUserList ng-hide" ng-show="changeUserStatus">
					<li ng-click="changeUser(item)" ng-repeat="item in userList" ng-bind="item.patientInfo.patientName ? item.patientInfo.patientName : '未命名'"></li>
					<li ng-click="addUser()" >添加使用者</li>
				</ul>
				</p>

				<!--<p class="nv">32岁 <img src="../images/person/nv.png"></p>-->
				<p ng-if="userInfo.patientInfo.patientSex ==1" class="nan">{{userInfo.patientInfo.patientAge}}岁 <img src="../images/person/nan.png"></p>
				<p ng-if="userInfo.patientInfo.patientSex ==0" class="nan">{{userInfo.patientInfo.patientAge}}岁 <img src="../images/person/nv.png"></p>
			</div>
			<div class="user_edit">
				<a ><span ng-click="toWriteNonCompulsory()">编辑</span></a>
			</div>

		</div>
		<ul class="user_list">
			<li>
				<div class="title">联系人姓名：</div>
				<div class="detai">
					<span ng-bind="userInfo.contactName"></span>
				</div>
			</li>
			<li>
				<div class="title">与使用者关系：</div>
				<div class="detai">
					<span ng-bind="UserGx[userInfo.patientInfo.relationshipWithUser]"></span>
				</div>
			</li>
			<li>
				<div class="title">联系人手机号：</div>
				<div class="detai">
					<span ng-bind="userInfo.contactPhone" ></span>
					<span style="float: right;color: #2ea7f6" ng-click="showChangePhoneNumber = true;TimeNuber=0;sendYzmStatus=0"> 修改</span>
				</div>
			</li>
		</ul>

		<div class="line"></div>


		<ul class="user_list">
			<li>
				<div class="title">氧疗目的：</div>
				<div class="detai">
					<span ng-bind="LymdInfoArr[userInfo.patientInfo.oxygenTherapyPurpose]">氧疗目的</span>
				</div>
			</li>
		</ul>
		<div class="line"></div>


		<!--ng-if="sectionTj"-->
		<div >
			<ul class="user_list" ng-if="userInfo.patientInfo.provinceName">
				<li ng-if="userInfo.patientInfo.provinceName">
					<div class="title">使用者地址：</div>
					<div class="detai">
						<span>{{userInfo.patientInfo.provinceName+userInfo.patientInfo.cityName+userInfo.patientInfo.countyName+userInfo.patientInfo.address}}</span>
					</div>
				</li>
				<li ng-if="userInfo.patientInfo.patientPhone">
					<div class="title">使用者手机号：</div>
					<div class="detai">
						<span ng-bind="userInfo.patientInfo.patientPhone"></span>
					</div>
				</li>
				<li ng-if="userInfo.patientInfo.patientCardId">
					<div class="title">使用者身份证：</div>
					<div class="detai">
						<span ng-bind="userInfo.patientInfo.patientCardId"></span>
					</div>
				</li>
			</ul>

			<div class="line" ng-if="userInfo.patientInfo.provinceName"></div>

			<ul class="user_list">
				<li ng-if="userInfo.connDeviceInfo.oxygenDeviceBrand">
					<div class="title">吸氧设备品牌：</div>
					<div class="detai">
						<span ng-bind="userInfo.connDeviceInfo.oxygenDeviceBrand"></span>
					</div>
				</li>
				<li ng-if="userInfo.connDeviceInfo.oxygenDeviceModel">
					<div class="title">吸氧设备型号：</div>
					<div class="detai">
						<span ng-bind="userInfo.connDeviceInfo.oxygenDeviceModel"></span>
					</div>
				</li>
				<li ng-if="userInfo.connDeviceInfo.purchaseTime">
					<div class="title">吸氧设备购买时间：</div>
					<div class="detai">
						<span ng-bind="userInfo.connDeviceInfo.purchaseTime"></span>
					</div>
				</li>
				<li ng-if="userInfo.patientInfo.caseNumber">
					<div class="title">病例号码：</div>
					<div class="detai">
						<span ng-bind="userInfo.patientInfo.caseNumber"></span>
					</div>
				</li>
				<li ng-if="userInfo.patientInfo.medicalHistory">
					<div class="title">病史备注：</div>
					<div class="detai">
						<span ng-bind="userInfo.patientInfo.medicalHistory"></span>
					</div>
				</li>
			</ul>
			<div ng-if="edits" class="edits">
				<a ng-click =" toWriteNonCompulsory()">进一步完善信息</a>
			</div>
		</div>
	</div>

	<!--未填必填，表单部分-->
	<div ng-show="!hasMustData && !writeNonCompulsory">

		<div class="form_box">
			<ul class="form_groupInfo">
				<li>
					<div class="form_title" >使用者姓名<span>*</span></div>
					<div class="form_input"><input type="text" ng-model="patientName" placeholder="请输入使用者姓名"></div>
				</li>
				<li>
					<div class="form_title">使用者性别<span>*</span></div>
					<div class="form_radio">
						<i class="iradio_flat-green" ng-click="patientSex=1" ng-class="patientSex==1?'checked':''"></i><span>男</span>
						<i class="iradio_flat-green" ng-click="patientSex=0" ng-class="patientSex==0?'checked':''"></i><span>女</span>
					</div>
				</li>
				<li class="no">
					<div class="form_title">使用者年龄<span>*</span></div>
					<div class="form_active" id="picker3" ng-click="changeDate('picker3')" ng-bind="patientAge"></div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li>
					<div class="form_title">吸氧设备品牌<span>*</span></div>
					<!--ng-click="choiceModel()"-->
					<div class="form_active" ng-bind="oxygenDeviceBrand" style="cursor: pointer;" readonly="readonly"   ng-click="showSearch = true">选择品牌</div>
				</li>
				<li>
					<div class="form_title">吸氧设备型号<span>*</span></div>
					<input id="xh" class="form_active" readonly="readonly"  ng-model="oxygenDeviceModel" placeholder="请输入设备型号" style="border: none; outline:none;background-image: none" ng-value="oxygenDeviceModel" ng-click="choiceXh()"/>
				</li>
				<li>
					<div class="form_title">吸氧设备购买时间<span>*</span></div>
					<div class="form_active" id="picker4" style="cursor: pointer;" ng-click="changeDate('picker4')" ng-bind="purchaseTime">选择购买时间</div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li class="no">
					<div class="form_title" >氧疗目的<span>*</span></div>
					<!--<div class="form_active" id="trigger1" ></div>-->
					<div class="form_active" id="picker1"  ng-click="choiceLymd()"></div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li>
					<div class="form_title">联系人姓名<span>*</span></div>
					<div class="form_input"><input type="text" placeholder="请输入联系人姓名" ng-model="contactName"></div>
				</li>
				<li>
					<div class="form_title">与使用者关系<span>*</span></div>
					<div class="form_radio ">
						<i class="iradio_flat-green" ng-click="relationshipWithUser=1" ng-class="relationshipWithUser==1?'checked':''" ></i><span>子女</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=2" ng-class="relationshipWithUser==2?'checked':''" ></i><span>配偶</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=3" ng-class="relationshipWithUser==3?'checked':''" ></i><span>朋友</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=4" ng-class="relationshipWithUser==4?'checked':''" ></i><span>本人</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=5" ng-class="relationshipWithUser==5?'checked':''" ></i><span>其他</span>
					</div>
				</li>
				<li>
					<div class="form_title">联系人手机号<span>*</span></div>
					<div class="form_input"><input type="number" placeholder="请输入联系人手机号" ng-model="contactPhone" ng-blur="testPhone()"></div>
				</li>
				<li>
					<div class="form_title">输入验证码<span>*</span></div>
					<div class="form_yzm">
						<input type="text" placeholder="请输入验证码" ng-model="phoneCode">
						<a ng-click="sendYzm()" ng-if="sendYzmStatus==0">获取验证码</a>
						<a ng-click="sendYzm()" ng-if="sendYzmStatus!=0 && sendYzmStatus!=-1 ">重新获取</a>
						<a  class="on" ng-if="sendYzmStatus == -1" ng-bind="residue +'S'">120S</a>
					</div>
				</li>
			</ul>
            <div style="padding: 10px;font-size: 14px;line-height: 14px;overflow: hidden">
                <input type="checkbox" ng-model="ifItemChecked" style="width: 14px;height: 14px;margin: 0 3px;float: left"><span style="line-height: 14px;padding: 0;margin: 0;float: left">提交前请确认 <a style="color:blue;line-height: 14px;padding: 0;margin: 0;" ng-click="openDoc()">《爱上呼吸服务协议》</a></span>
            </div>


			<!--提示-->
			<div class="tips" ng-if="errInfo">
				<span ng-bind="errInfo"></span>
			</div>


		</div>
		<!--底部按扭-->
		<div class="footer_btn">
			<!--<button>提交</button>-->
			<a n ng-click="TjshowconfirmBox()">提交</a>
		</div>
	</div>
	<!--非必填项目-->
	<div ng-show="writeNonCompulsory">
		<!--表单部分-->
		<div class="form_box">

			<ul class="form_groupInfo">
				<li>
					<div class="form_title">使用者地址</div>
					<div class="form_active"  style="
					cursor: pointer;" ng-click="choiceCity()"><span id="cityPicker" ng-bind="addressprovinceName"></span></div>
				</li>
				<li>
					<div class="form_input"><input type="text" ng-model="address" placeholder="请输入详细地址"></div>
				</li>
				<li>
					<div class="form_title">使用者电话</div>
					<div class="form_input"><input type="tel" ng-model="patientPhone" placeholder="请输入使用者电话" ng-blur="testPatientPhone()" ng-value="patientPhone"></div>
				</li>
				<li class="no">
					<div class="form_title">使用者身份证</div>
					<div class="form_input"><input type="text" ng-model="patientCardId"  placeholder="请输入使用者身份证" ng-blur ="testIdCard()"/></div>
				</li>
			</ul>

			<div class="line"  ></div>
			<ul class="form_groupInfo">
				<li>
					<div class="form_title" >使用者姓名<span>*</span></div>
					<div class="form_input"><input type="text" ng-model="patientName" placeholder="请输入使用者姓名"></div>
				</li>
				<li>
					<div class="form_title">使用者性别<span>*</span></div>
					<div class="form_radio">
						<i class="iradio_flat-green" ng-click="patientSex=1" ng-class="patientSex==1?'checked':''"></i><span>男</span>
						<i class="iradio_flat-green" ng-click="patientSex=0" ng-class="patientSex==0?'checked':''"></i><span>女</span>
					</div>
				</li>
				<li class="no">
					<div class="form_title">使用者年龄<span>*</span></div>
					<div class="form_active" id="picker3" ng-click="changeDate('picker3')" ng-bind="patientAge"></div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li>
					<div class="form_title">吸氧设备品牌<span>*</span></div>
					<!--ng-click="choiceModel()"-->
					<div class="form_active" ng-bind="oxygenDeviceBrand" style="cursor: pointer;" readonly="readonly"   ng-click="showSearch = true">选择品牌</div>
				</li>
				<li>
					<div class="form_title">吸氧设备型号<span>*</span></div>
					<input id="xh" class="form_active" readonly="readonly"  ng-model="oxygenDeviceModel" placeholder="请输入设备型号" style="border: none; outline:none;background-image: none" ng-value="oxygenDeviceModel" ng-click="choiceXh()"/>
				</li>
				<li>
					<div class="form_title">吸氧设备购买时间<span>*</span></div>
					<div class="form_active" id="picker4" style="cursor: pointer;" ng-click="changeDate('picker4')" ng-bind="purchaseTime">选择购买时间</div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li class="no">
					<div class="form_title" >氧疗目的<span>*</span></div>
					<!--<div class="form_active" id="trigger1" ></div>-->
					<div class="form_active" ng-bind="LymdInfoArr[oxygenTherapyPurpose]" id="picker1"  ng-click="choiceLymd()"></div>
				</li>
			</ul>
			<div class="line"></div>
			<ul class="form_groupInfo">
				<li>
					<div class="form_title">联系人姓名<span>*</span></div>
					<div class="form_input"><input type="text" placeholder="请输入联系人姓名" ng-model="contactName"></div>
				</li>
				<li>
					<div class="form_title">与使用者关系<span>*</span></div>
					<div class="form_radio ">
						<i class="iradio_flat-green" ng-click="relationshipWithUser=1" ng-class="relationshipWithUser==1?'checked':''" ></i><span>子女</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=2" ng-class="relationshipWithUser==2?'checked':''" ></i><span>配偶</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=3" ng-class="relationshipWithUser==3?'checked':''" ></i><span>朋友</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=4" ng-class="relationshipWithUser==4?'checked':''" ></i><span>本人</span>
						<i class="iradio_flat-green" ng-click="relationshipWithUser=5" ng-class="relationshipWithUser==5?'checked':''" ></i><span>其他</span>
					</div>
				</li>
				<!--<li>
					<div class="form_title">联系人手机号<span>*</span></div>
					<div class="form_input"><input type="number" placeholder="请输入联系人手机号" ng-model="contactPhone" ng-blur="testPhone()"></div>
				</li>
				<li>
					<div class="form_title">输入验证码<span>*</span></div>
					<div class="form_yzm">
						<input type="text" placeholder="请输入验证码" ng-model="phoneCode">
						<a ng-click="sendYzm()" ng-if="sendYzmStatus==0">获取验证码</a>
						<a ng-click="sendYzm()" ng-if="sendYzmStatus!=0 && sendYzmStatus!=-1 ">重新获取</a>
						<a  class="on" ng-if="sendYzmStatus == -1" ng-bind="residue +'S'">120S</a>
					</div>
				</li>-->
			</ul>

			<ul class="form_groupInfo">
				<li>
					<div class="form_title">病例号码<span class="tips" ng-click="bingliTs = true"></span></div>
					<div class="form_input"><input type="text" ng-model="caseNumber" placeholder="请输入病例号码"></div>
				</li>
				<li class="textarea">
					<div class="form_title">病史备注</div>
					<div class="form_textarea">
						<textarea ng-model="medicalHistory" placeholder="请输入描述"></textarea>
					</div>
				</li>
			</ul>

		</div>
		<!--底部按扭-->
		<div class="footer_btn">
			<!--<button>提交</button>-->
			<a ng-click="reSend()">提交</a>
		</div>

		<!--提示-->
		<div class="tips" ng-if="errInfo2" style="position: absolute;left: 30px;top: 45%;">
			<span ng-bind="errInfo2" style="display: block"></span>
		</div>
	</div>
	<div class="searchBox" ng-show="showSearch">
		<div class="cover"></div>
		<div class="contBox">
			<div style="padding: 10px;background: #ddd;overflow: hidden">
				<input style="width:70vw;height:30px;float:left;border: none;padding:0 0 0 10px;box-sizing: border-box;"  type="text" ng-model="searchValue"/>
                <span ng-click="showSearch = !showSearch" style="width: 20vw;height:28px;display:block;float:right;background:#42a338;border-radius: 4px;;text-align: center;line-height: 28px;font-size: 14px">取消</span>
			</div>
			<div class="searchList">
				<ul class="form_groupInfo" style="margin: 0;">
					<li style="padding-left: 15px" ng-repeat="item in pinpaiList" ng-click="choicePp(item)">{{item.brandName}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="confirmBox" ng-show="showconfirmBox">
		<div class="cover"></div>
		<div class="contBox">
			<div>
				<div style="font-size: 18px;text-align: center;color:#2ea7f6;margin-bottom: 10px">温馨提示</div>
				<div>尊敬的客户，您好！请仔细核对您填写信息是否有误，一旦提交，无法修改，请核对后再提交。</div>
			</div>
			<div>
				<div style="color: #666" ng-click="showconfirmBox=!showconfirmBox">返回修改</div>
				<div style="color:#2ea7f6;" ng-click="TJRequestData()">确认提交</div>
			</div>
		</div>
	</div>
    <div class="confirmBox" ng-show="showChangePhoneNumber">
        <div class="cover" ng-click="showChangePhoneNumber=!showChangePhoneNumber;errInfo3=''"></div>
        <div class="contBox">
            <div>
                <div style="font-size: 18px;text-align: center;color:#2ea7f6;margin-bottom: 10px">修改手机号</div>
                <div>
					<ul class="form_groupInfo">
						<li>
							<div class="form_input"><input style="text-align:left " type="number" placeholder="请输入联系人手机号" ng-model="contactPhone" ng-blur="testPhone()"></div>
						</li>
						<li>
							<div class="form_yzm">
								<input style="text-align:left " type="text" placeholder="请输入验证码" ng-model="phoneCode" ng-blur="testChangePhone()">
								<a ng-click="testChangePhone();sendYzm()" ng-if="sendYzmStatus==0">获取验证码</a>
								<a ng-click="testChangePhone();sendYzm()" ng-if="sendYzmStatus!=0 && sendYzmStatus!=-1 ">重新获取</a>
								<a  class="on" ng-if="sendYzmStatus == -1" ng-bind="residue +'S'">120S</a>
							</div>
						</li>
					</ul>
					<!--提示-->
					<div class="tips" ng-show="errInfo3">
						<span ng-bind="errInfo3"></span>
					</div>
				</div>
            </div>
            <div>
                <div style="color: #666" ng-click="showChangePhoneNumber=!showChangePhoneNumber;errInfo3=''">取消修改</div>
                <div style="color:#2ea7f6;" ng-click="testChangePhone();TJChangePhoneNumber()">确认提交</div>
            </div>
        </div>
    </div>
	<div class="confirmBox" ng-show="bingliTs">
		<div class="cover" ng-click="bingliTs = !bingliTs"></div>
		<div class="contBox">
			<div>
				<div style="font-size: 18px;text-align: center;color:#2ea7f6;margin-bottom: 10px">温馨提示</div>
				<div>住院时医院提供的病案编号，可以填多个病例号码。有多个病案编号，请用逗号隔开填写。</div>
			</div>
			<div>
				<div style="color: #2ea7f6;width: 100%;border: none" ng-click="bingliTs=!bingliTs">知道了</div>
			</div>
		</div>
	</div>
</div>

</body>
<style>
    .choiceUserList{
        position: absolute;
        z-index: 10;
        border-radius: 8px;
        background-color: #fff;
        width: 100px;
        text-align: center;
        padding: 0 5px;
    }
    .choiceUserList li{
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
    }
    .choiceUserList li:last-child{
        border:none;
        color: #1e83d3;
    }
	.confirmBox{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.confirmBox .cover{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.7;
	}
	.confirmBox .contBox{
		position: absolute;
		width: 80%;
		left: 50%;
		margin-left: -40%;
		background-color: #fff;
		top: 200px;
		border-radius: 8px;
	}
	.confirmBox .contBox>div:nth-of-type(1){
		padding: 20px;
		font-size: 14px;
		border-bottom: 1px solid #ddd;
	}
	.confirmBox .contBox>div:nth-of-type(2)>div{
		float: left;
		width: 50%;
		font-size: 18px;
		height: 44px;
		text-align: center;
		line-height: 44px;
	}
	.confirmBox .contBox>div:nth-of-type(2)>div:nth-of-type(1){
		box-sizing: border-box;
		border-right:1px solid #ddd ;
	}
	::-webkit-scrollbar {
		width:0px;
		height:0px;
		border-radius:5px;
		-webkit-border-radius:5px;
		background:#e7e7e7;
	}
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-thumb {
		border-radius:999px;
		border:3px solid transparent;
	}
	::-webkit-scrollbar-track {
		box-shadow:1px 1px 5px rgba(0,0,0,0.5) inset; display:none;
	}
	::-webkit-scrollbar-thumb {
		min-height:20px;
		background-clip:content-box;
		box-shadow:0 0 0 5px rgba(0,0,0,.2) inset;
	}
	::-webkit-scrollbar-corner {
		background:transparent;
	}
	.searchBox{
		box-sizing: border-box;
		width: 100%;
		background: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.searchBox .contBox{
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
	.searchBox .contBox .searchList{
	 position:absolute; top:50px; right:0; bottom:0; left:0; overflow:auto;display: inline-block; -webkit-overflow-scrolling:touch;
	}

	.form_groupInfo input[type=tel]{
		width: 100%;
		border: 0px;
		text-align: right;
		outline: none;
	}
    .icheckbox_flat-green,
    .iradio_flat-green {
        display: inline-block;
        *display: inline;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        background: url(../images/person/green.png) no-repeat;
        border: none;
        cursor: pointer;
    }

    .icheckbox_flat-green {
        background-position: 0 0;
    }
    .icheckbox_flat-green.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-green.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-green.checked.disabled {
        background-position: -66px 0;
    }

    .iradio_flat-green {
        background-position: -88px 0;
    }
    .iradio_flat-green.checked {
        background-position: -110px 0;
    }
    .iradio_flat-green.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-green.checked.disabled {
        background-position: -154px 0;
    }

    /* HiDPI support */
    @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
        .icheckbox_flat-green,
        .iradio_flat-green {
            background-image: url(../images/person/green@2x.png);
            -webkit-background-size: 176px 22px;
            background-size: 176px 22px;
        }
    }
	.picker .picker-panel .picker-choose .picker-title{
		margin: 0;
		background: #fefefe;
		line-height: 50px;
	}
	.picker .picker-panel .picker-choose .cancel, .picker .picker-panel .picker-choose .confirm{
		color: #1e83d3;
		font-size: 16px;
		padding: 0;
		top: 0;
		line-height: 50px;
	}
	.picker .picker-panel .picker-choose .cancel{
		left: 15px;
	}
	.picker .picker-panel .picker-choose .confirm{
		right: 15px;
	}
</style>
</html>
