<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>氧疗设备 7 日使用报告</title>
    <link rel="stylesheet" media="screen" href="../css/style.css?v=2017080922" />
    <link rel="stylesheet" media="screen" href="../css/index.css?v=2017080922" />
    <link rel="stylesheet" media="screen" href="../css/common.css?v=2017080922" />
    <script type="text/javascript" src="../scripts/jquery-1.12.3.min.js" ></script>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/Chart.min.js"></script>
	<script src="../scripts/common/common.js?v=2017083022"></script>
	<script src="../scripts/controller/weekreport.js?v=2017080922"></script>
</head>
<body ng-app="myApp" ng-controller="weekReportCtrl" ng-cloak>
<div class="nav bbd">
    <li class="logo"><img src="../images/logo.png" /></li>	
	<li class="nav-main">       
	<P class="name">姓名：{{basic.fullName}}</P>
	<P>设备号：<span class="shebei">{{basic.deviceNumber}}</span></P>
    </li>
</div>

<div class="frkj day box bbd">
<span class="l15">时间：</span>
<select name="chengshi" class="select3" ng-model="selectedWeek" ng-change="weekSelected()">
<option class="option" value="{{weeks.beginDate}}~{{weeks.endDate}}" ng-repeat="weeks in pastWeeks">{{weeks.beginDate}}~{{weeks.endDate}}</option>
</select>
</div>

<div>
<li class="day"><span class="title l15">7 日实际用氧天数：{{weekData.usedDays}} 天 </span> <span class="fr"><a href="#" ng-click="goToDetail()">查看详细 > </span></a> </li>
	<li class="day1">
	<P class="gaisu">平均每天用氧：{{weekData.avgTimeByDay}} 小时</P>
	</li>
	<li class="day2">
	<P class="gaisu">平均氧流量：{{weekData.avgFlow}} L/分 </P>
	</li>
	<li class="day3">
	<P class="gaisu">平均氧浓度：{{weekData.avgOxygen}}%</P>
	</li>
	<li class="day4">
	<P class="gaisu">平均氧温度：{{weekData.avgTemp}} ℃</P>
	</li>
</div>
<div class="clearfixe bbd"></div> 

<div id="container" style="width:90%;height:200px;margin-top:35px; margin-bottom:10px;">
	<canvas id="myChartTime" width="300" height="200" class="chart-canvas-week"></canvas>
</div>
<div id="container1" style="width:90%;height:200px;margin-top:10px; margin-bottom:10px;">
	<canvas id="myChartOxygen" width="300" height="200" class="chart-canvas-week"></canvas>
</div>
<div id="container2" style="width:90%;height:200px;margin-top:10px; margin-bottom:10px;">
	<canvas id="myChartFlow" width="300" height="200" class="chart-canvas-week"></canvas>
</div>
<div id="container3" style="width:90%;height:200px;margin-top:10px; margin-bottom:35px;">
	<canvas id="myChartTemp" width="300" height="200" class="chart-canvas-week"></canvas>
</div>
</body>
</html>
