<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>氧疗设备 7 日使用报告详情</title>
    <link rel="stylesheet" media="screen" href="../css/style.css?v=2017080722" />
    <link rel="stylesheet" media="screen" href="../css/common.css?v=2017080722" />
    <script type="text/javascript" src="../scripts/jquery-1.12.3.min.js" ></script>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/common/common.js?v=2017083022"></script>
	<script src="../scripts/controller/weekreportdetail.js?v=2017080722"></script>
</head>
<body ng-app="myApp" ng-controller="weekReportDetailCtrl" ng-cloak>
<div class="nav bbd">
    <li class="logo"><img src="../images/logo.png" /></li>	
	<li class="nav-main">       
	<P class="name">姓名：{{basic.fullName}}</P>
	<P>设备号：<span class="shebei">{{basic.deviceNumber}}</span></P>
    </li>
</div>



<div class="frkj day box bbd">
<span class="title l15">时间：{{selectedWeek}}</span>
</div>

<div class="day bbd">
<li class="day5 "><span class="gaisu">时间段</span></li>
<li class="day6 "><span class="gaisu">用时</span></li>
<li class="day6 "><span class="gaisu">流量</span></li>
<li class="day6 "><span class="gaisu">浓度</span></li>
<li class="day6 "><span class="gaisu">温度</span></li>
</div>


<div ng-repeat="dayData in weekData.dayDataList" ng-show="dayData.hourRangeList.length > 0">
	<div class=" bbd2">
	<li class="day5 "><span class="gaisu">{{dayData.dateStr}}</span></li>
	</div>
	
	<div ng-repeat="hourRange in dayData.hourRangeList">
		<li class="day5">
		<span class="gaisu">{{hourRange.startHourMin}}~{{hourRange.endHourMin}}</span>
		</li>
		<li class="day6">
		<span class="gaisu">{{hourRange.totalTime}}</span>
		</li>
		<li class="day6">
		<span class="gaisu">{{hourRange.avgFlow}}</span>
		</li>
		<li class="day6">
		<span class="gaisu">{{hourRange.avgOxygen}}</span>
		</li>
		<li class="day6">
		<span class="gaisu">{{hourRange.avgTemp}}</span>
		</li>
	</div>
	<div class="clearfixe bbd"></div> 
</div>
</body>
</html>
