<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>氧疗设备昨日使用报告</title>
    <script src="../scripts/angular.min.js"></script>
	<script src="../scripts/angular.easypiechart.min.js"></script>
	<script src="../scripts/common/common.js?v=2017090423"></script>
	<script src="../scripts/controller/myrecord.js?v=2017090423"></script>
	<link rel="stylesheet" media="screen" href="../css/style.css?v=2017080922" />
	<link href="../css/index.css?v=2017080922" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="siteCtrl" ng-cloak>
<div class="nav bbd">
    <li class="logo"><img src="../images/logo.png" /></li>	
	<li class="nav-main">       
	<P class="name">姓名：{{basic.fullName}}</P>
	<P>设备号：<span class="shebei">{{basic.deviceNumber}}</span></P>
    </li>
</div>

<div class="title bbd">
<span class="title l15">{{deviceData.yesterdayFlag ? '昨日':''}} {{deviceData.recordDateStr}} 使用数据报告</span>
</div>

<div class="shuju bbd">
<li class="zrbb">
	<div style="padding-left : 1%; text-align: center" ng-if="timeChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.totalTime}} 小时</span>
				<div easypiechart options="totalTimeChart.options_totalTime" percent="totalTimeChart.percent_totalTime"></div>
			</div>
		</div>
		<div>{{totalTimeChart.text_totalTime}}</div>
</li >
<li class="zrbb">
		<div style="padding-left : 1%; text-align: center" ng-if="oxygenChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgOxygen}} %</span>
				<div easypiechart options="oxygenChart.options_oxygen" percent="oxygenChart.percent_oxygen"></div>
			</div>
		</div>
		<div>{{oxygenChart.text_oxygen}}</div>
</li >
<li class="zrbb">
		<div style="padding-left : 5%; text-align: center" ng-if="flowChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgFlow}} L/分</span>
				<div easypiechart options="flowChart.options_flow" percent="flowChart.percent_flow"></div>
			</div>
		</div>
		<div>{{flowChart.text_flow}}</div>
</li >
<li class="zrbb">
		<div style="padding-left : 5%; text-align: center" ng-if="tempChartReady">
			<div class="easy-pie-chart">
				<span class="percent">{{deviceData.avgTemp}} ℃</span>
				<div easypiechart options="tempChart.options_temp" percent="tempChart.percent_temp"></div>
			</div>
		</div>
		<div>{{tempChart.text_temp}}</div>
</li >
</div>

<div class="clearfixe"></div> 

<div class="ts bbd">
<P class="wxts l15">温馨提示：{{deviceData.notesFromSystem ? deviceData.notesFromSystem : '请按照临床医生建议合理安排吸氧时间，吸氧流量，并观察氧气浓度是否正常！同时在吸氧过程中注意安全！'}}</P>
</div>


<!-- <div class="ts bbd">
<P class="wxts l15">医生提示：{{deviceData.notesFromDoctor}}</P>
</div> -->



</body>
</html>
